<app-quote-form (q)="addQuote($event)"></app-quote-form>
<div class="container mt-5">
    <h2>List of Quotes</h2>

<table class="table">
    <thead>
        <th>Added by</th>
        <th>Author</th>
        <th>Quote</th>
        <th>Time posted</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        
    </thead>
    <tbody>

<tr *ngFor="let quote of quote; let i = index">
    
    <td>{{ quote.submittedBy }}</td>
    <td>{{ quote.author }}</td>
    <td>{{ quote.body }}</td>
    <td>{{ quote.postedDate | datefixer}}</td>
    <p>{{ numberOfLikes }}</p><td><button class="btn btn-outline-success btn-sm" (click)="likeButtonClick(i)">Upvote</button></td>
    <p>{{ numberOfDislikes }}</p><td><button class="btn btn-outline-danger btn-sm" (click)="dislikeButtonClick()">Downvote</button></td>
    <td> <button class="btn btn-danger btn-sm" (click)="deleteQuote(i)">Delete</button></td>
</tr>
    </tbody>
</table>
    </div>
    