<div class="col-md-5 mx-auto">
    <form #quoteForm = 'ngForm' (ngSubmit) = "addQuote()">     
              <div class="form py-1">
                  <div class="form-row my-1">
                      <div class="col-md-12">
                         <h3>Quote added by: </h3>
                          <input type="text" class="effect-1" id="name"[(ngModel)]="newQuote.submittedBy" name="submittedBy" placeholder="Quote added by" required>
                          <span class="focus-border"></span>
                      </div>
                   </div>
                  <div class="form-row my-3">
                      <div class="col-md-12">
                        <h3>Author: </h3>
                        <input type="text" class="effect-1" id="title"[(ngModel)]="newQuote.author" name="author" placeholder="Author" required>
                          <span class="focus-border"></span>
                      </div>
              </div>
              <div class="form-row my-3">
                <div class="col-md-12">
                  <h3>Add quote: </h3>
                  <textarea  id="message"[(ngModel)]="newQuote.body" name="body" class="effect-1"  rows="5" placeholder="Enter your quote"></textarea>
                          <span class="focus-border"></span>
                </div>
              </div>
              <div class="form-row my-3">
                <div class="col-md-4"> 
                  <button type="submit" class="btn btn-primary btn-sm" value="output quote" id="bnt-submit">Share Quote</button>
                </div>
              </div>
          </div>
  </form>
  







